@charset 'utf-8';
/*
 * FontIco - v1.0.0 (2015-06-24 11:24)
 * 一个基于字体的适量图标库，团队内部积累用
 * Author:chinakids <494063570@qq.com>,hudiesu <zx84829759@163.com>
 */
@font-face {
  font-family: 'fontIco';
  src: url('../fonts/fontIco.eot?v=1.0.0');
  src: url('../fonts/fontIco.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('../fonts/fontIco.woff2?v=1.0.0') format('woff2'), url('../fonts/fontIco.woff?v=1.0.0') format('woff'), url('../fonts/fontIco.ttf?v=1.0.0') format('truetype'), url('../fonts/fontIco.svg?v=1.0.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fi {
  display: inline-block;
  font: normal normal normal 14px/1 'fontIco';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fi-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fi-2x {
  font-size: 2em;
}
.fi-3x {
  font-size: 3em;
}
.fi-4x {
  font-size: 4em;
}
.fi-5x {
  font-size: 5em;
}
.fi-fw {
  width: 1.28571429em;
  text-align: center;
}
.fi-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fi-ul > li {
  position: relative;
}
.fi-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fi-li.fi-lg {
  left: -1.85714286em;
}
.fi-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fi.pull-left {
  margin-right: .3em;
}
.fi.pull-right {
  margin-left: .3em;
}
.fi-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fi-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
.fi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fi-rotate-90,
:root .fi-rotate-180,
:root .fi-rotate-270,
:root .fi-flip-horizontal,
:root .fi-flip-vertical {
  filter: none;
}
.fi-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fi-stack-1x,
.fi-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fi-stack-1x {
  line-height: inherit;
}
.fi-stack-2x {
  font-size: 2em;
}
.fi-inverse {
  color: #ffffff;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
